<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ptms.mvc.tpj.Customer_Main_DAO.MainDAO">

	<!-- 로그인 : 아이디확인 / 회원가입 아이디 중복확인 -->
	<select id="idCheck" resultType = "int">
		SELECT count(*) cnt FROM customer_tb WHERE cust_id = #{strid}
	</select>
	
	<!-- 로그인 - 회원정보 조회 -->
	<select id="custInfo" parameterType="String" resultType = "ptms.mvc.tpj.CustVO.CustomerVO">
		SELECT * FROM customer_tb WHERE cust_id = #{id}
	</select>
	
	<!-- 회원가입 처리 -->
	<insert id = "insertCust" parameterType="ptms.mvc.tpj.CustVO.CustomerVO">
		INSERT INTO customer_tb (CUST_ID, CUST_PWD, CUST_NM, CUST_EM, CUST_PH, CUST_GEN, JUMIN1, JUMIN2, CUST_AGE, ZIPCODE, ENABLE_NO, AUTHOR, CUST_DT, SUBADDRESS) 
		VALUES (#{CUST_ID}, #{CUST_PWD}, #{CUST_NM}, #{CUST_EM}, #{CUST_PH}, #{CUST_GEN}, #{JUMIN1}, #{JUMIN2}, #{CUST_AGE}, #{ZIPCODE}, 1, default, sysdate, #{SUBADDRESS})
	</insert>
	
	<!-- 로그인 - 비밀번호 확인 / 비밀번호 찾기 -->
	<select id="pwdSearch" resultType = "String">
		SELECT CUST_PWD FROM customer_tb WHERE cust_id = #{id}
	</select>
	
	<!-- 사용자 권한 조회 -->
	<select id="gradeCheck" resultType = "String">
		SELECT AUTHOR FROM customer_tb WHERE cust_id = #{id}
	</select>
	
	<!-- 우편번호 등록 -->
	<insert id="insertzipcode" parameterType="java.util.Map">
		INSERT INTO zipcodes_tb VALUES(#{zipcode}, #{address1}, #{address2})
	</insert>
	
	<!-- 우편번호 조회 -->	
	<select id="zipcodeChk" resultType="int">
		SELECT COUNT(*) FROM zipcodes_tb WHERE ZIP_CD = #{ZIPCODE}
	</select>
	
	<!-- 회원정보 조회(회원,우편) -->	
	<select id="selectCustomer" resultType="ptms.mvc.tpj.CustVO.CustomerVO">
	select c.*, z.ADDRESS1, z.ADDRESS2 from customer_tb c, zipcodes_tb z where c.zipcode = z.zip_cd and cust_id = #{id}
	</select>
	
	<!-- 1.회원정보 수정처리 -->
	<update id="updateCustomer" parameterType="ptms.mvc.tpj.CustVO.CustomerVO">
		update CUSTOMER_TB set CUST_PWD=#{CUST_PWD}, CUST_EM=#{CUST_EM}, CUST_PH=#{CUST_PH}, SUBADDRESS=#{SUBADDRESS}, ZIPCODE = #{ZIPCODE}
		where CUST_ID=#{CUST_ID}
	</update>
	<!-- 2. 우편번호가 같을시 update -->
	<update id="updateCustomer2" parameterType="ptms.mvc.tpj.CustVO.CustomerVO">
		update ZIPCODES_TB set ADDRESS1=#{ADDRESS1}, ADDRESS2=#{ADDRESS2} where ZIP_CD=#{ZIPCODE}
	</update>
	<!-- 3. 우편번호가 다를시 우편번호등록 사용 -->
	
	<!-- 펫 목록 조회 -->
	<select id="getPetList" parameterType="java.util.Map" resultType="ptms.mvc.tpj.CustVO.PetVO">
		<![CDATA[
		select *
		from (select PET_CD, CUST_ID, PK_CD, PET_AGE, PET_NM, PET_CON, PET_IMG, PET_DT, rowNum rNum  
				from (select *
						from PET_TB
					   order by abs(PET_CD) desc)
			)
		where rNum >= #{start} and rNum <= #{end} 
		]]>
	</select>
	
	<!-- 펫 가입 처리 -->
	<insert id = "insertPet" parameterType="ptms.mvc.tpj.CustVO.PetVO">
		INSERT INTO PET_TB (PET_CD, CUST_ID, PK_CD, PET_AGE, PET_NM, PET_CON, PET_IMG, PET_DT) 
		VALUES (PET_TB_seq.nextval, #{CUST_ID}, #{PK_CD}, #{PET_AGE}, #{PET_NM}, #{PET_CON}, #{PET_IMG}, sysdate)
	</insert>
	
	<!-- 펫 상세 정보 -->
	<select id="PetDetail" parameterType="int" resultType="ptms.mvc.tpj.CustVO.PetVO">
		select * from PET_TB where PET_CD = #{PET_CD}
	</select>
	
	<!-- 펫 수정 처리 -->
	<update id="updatePet" parameterType="ptms.mvc.tpj.CustVO.PetVO">
		update PET_TB 
		set PK_CD = #{PK_CD}, PET_AGE = #{PET_AGE} ,PET_NM = #{PET_NM} ,PET_CON = #{PET_CON} ,PET_IMG = #{PET_IMG} 
		where PET_CD = #{PET_CD}
	</update>
	
	<!-- 펫 삭제 -->
	<delete id="deletePet" parameterType="int">
		delete from PET_TB where PET_CD = #{PET_CD}
	</delete>
	
	<!-- 등록된 펫 갯수 -->
	<select id="getPetCnt" resultType="int">
		select count(*) as cnt from PET_TB
	</select>
	
	<!-- 일정 리스트 -->
	<select id="getEvents" parameterType="String" resultType="Map">
		select ck.CK_KIND type,
			   cl.CL_CD _id,
			   cl.CL_TITLE title,
			   cl.CL_MEMO description,
			   to_char (cl.START_TM, 'YY-MM-DDTHH24:MI') start,
			   to_char (cl.END_TM, 'YY-MM-DDTHH24:MI') end
		  from CALENDAR_TB cl, CALENDAR_KIND ck
		 where CUST_ID = #{id} 
		 order by START_TM asc     
	</select>
 </mapper>