<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="ptms.mvc.tpj.Sitter_DAO.SitterDAO">
	<select id="getPriceList" resultType="ptms.mvc.tpj.CustVO.PetVO">
		SELECT p.PK_CD, p.PK_KIND, p.PK_DETAIL, s.SF_FEE
		FROM PET_KIND_TB p , SITTER_FEE_TB s
		WHERE p.PK_CD = s.PK_CD
		ORDER BY p.PK_CD
	</select>
</mapper>    